body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
    background-image: url(../img/duck.png);
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: auto;
}

h1 {
    color: #ffffff;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    text-align: center;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    color: #fff;
}

label div {
    width: 50%;
    padding: 10px;
}

#target_label {
    padding-right: 0;
    padding-left: 0;
}

button {
    color: white;
    background-color: #11334c;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #335a76;
}

#history {
    max-height: 40vh;  /* 원하는 높이로 조정해주세요. */
    overflow-y: auto;   /* 수직 방향 스크롤을 가능하게 합니다. */
    margin-top: 20px;
    /* padding: 10px; */
    height: 100%;
}


#history table {
    width: 100%;
    border-collapse: collapse;
}

#history th, #history td {
    border: 1px solid #aaa;
    padding: 5px;
}

#history th {
    background-color: #ddd;
}

#history td {
    background-color: #fff;
}

#history .in-target {
    background-color: #90ee90;
}

#history .out-target {
    background-color: #f08080;
}

.latest-result {
    border: 3px solid #333;
}