body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
    background-image: url(../img/duck.png);
    background-size: cover;
}

.container {
    max-width: 600px;
    margin: auto;
}

h1 {
    color: #ffffff;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

input {
    width: 25vw;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    text-align: center;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

label div {
    padding: 10px;
}

#target_label {
    padding-right: 0;
    padding-left: 0;
}

button {
    color: white;
    background-color: #11334c;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #335a76;
}

/* 기록 표 스타일 */
#history, #history2 {
    max-height: 40vh; /* 원하는 높이로 조정해주세요. */
    overflow-y: auto; /* 수직 방향 스크롤을 가능하게 합니다. */
    margin-top: 20px;
    height: 100%;
    border-radius: 10px;
}

/* 표 내부 스타일 */
#history table, #history2 table {
    width: 100%;
    border-collapse: collapse;
}

/* 표 헤더와 셀 스타일 */
#history th, #history td, #history2 th, #history2 td {
    border: 1px solid #aaa;
    padding: 5px;
}

/* 표 헤더 스타일 */
#history th, #history2 th {
    background-color: #ddd;
}

/* 표 셀 스타일 */
#history td, #history2 td {
    background-color: #fff;
}

/* 표 셀 특별 스타일 */
#history .in-target, #history2 .in-target {
    background-color: #90ee90;
}

#history .out-target, #history2 .out-target {
    background-color: #f08080;
}

.latest-result {
    border: 3px solid #333;
}


/* 탭 스타일 */
.tab {
    overflow: hidden;
    background-color: #11334c;
    display: flex;    /* flex 속성 추가 */
    justify-content: space-around;    /* 좌우 간격 조절 */
    border-radius: 10px;
}

/* 탭 버튼 스타일 */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    flex: 1;    /* 각 버튼의 너비를 동일하게 설정 */
    text-align: center;    /* 버튼 내의 텍스트 중앙 정렬 */
    margin: 0;
    border: 0.5px solid #71747e;
}

.tab button {
    border-right: 1px solid #595b63;
}

.tab button:not(:first-child) {
    border-left: 1px solid #595b63;
    margin-left: -1px;
}

/* 탭 버튼 활성화 스타일 */
.tab button.active {
    background-color: #11334c;
}

/* 탭 컨텐츠 스타일 */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.subLabel {
    width: 25vw;
}

.clickable_Button {
    border-radius: 10px;
}

input {
    border-radius: 10px;
    border: none;
}

#ads {
    height: 200px;
}